@model List<Kanban.Tablero>

@{
    ViewData["Title"] = "Tablero";
}

<h2>Tableros</h2>

<div class="kanban-board">
    @foreach (var board in Model)
    {
        <div class="board">
            <h3>@board.Nombre</h3>
            <p><strong>ID:</strong> @board.Id</p>
            <p><strong>Owner ID:</strong> @board.IdUsuarioPropietario</p>
            <p><strong>Description:</strong> @board.Descripcion</p>
        </div>
    }
</div>
<div class="text-center">
    <button type="button" class="btn btn-success"><a   class="nav-link text-light" asp-area="" asp-controller="Tablero" asp-action="CrearTablero">Crear tablero</a></button>
</div>
<style>
    .kanban-board {
        display: flex;
        flex-wrap: wrap;
    }
    .board {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
        width: 200px;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    }
</style>