@{
    ViewData["Title"] = "ModificarTablero";
}

@model Kanban.Tablero

<form asp-controller="Tablero" asp-action="ModificarTablero">
  <div class="mb-3">
    <label asp-for=@Model.Nombre class="form-label">Nombre</label>
    <input asp-for=@Model.Nombre type="text" class="form-control">
    <label asp-for=@Model.Descripcion class="form-label">Descripcion</label>
    <input asp-for=@Model.Descripcion type="text" class="form-control">
    
  </div>    
  <button type="submit" class="btn btn-outline-success">Modificar</button>
   <a asp-action="Listar" class="btn btn-secondary">Cancelar</a>
</form>