@model Kanban.Tarea

@{
    ViewData["Title"] = "Eliminar Tarea";
}

<h1>Eliminar Tarea</h1>

<h3>¿Está seguro que desea eliminar esta tarea?</h3>
<div>
    <h4>Tarea</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>
    
    <form asp-controller="Tarea" asp-action="EliminarTarea" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-controller="Tablero" asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>