@model Kanban.ViewModels.ModificarTareaViewModel

@{
    ViewData["Title"] = "Modificar Tarea";
}

<h1>Modificar Tarea</h1>

<form asp-controller="Tarea" asp-action="ModificarTarea" method="post">
    <div class="mb-3">
        <label asp-for="Estado" class="form-label">Estado</label>
        <select asp-for="Estado" class="form-control">
            <option value="1">Ideas</option>
            <option value="2">To Do</option>
            <option value="3">Doing</option>
            <option value="4">Review</option>
            <option value="5">Done</option>
        </select>
        <span asp-validation-for="Estado" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Modificar</button>
    <a asp-controller="Tarea" asp-action="ListarTareasPorTablero" asp-route-idTablero="@ViewData["idTablero"]" class="btn btn-secondary">Cancelar</a>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}