@{
    ViewData["Title"] = "Cambiar Contraseña";
}
@model Kanban.Usuario

<form asp-controller="Usuario" asp-action="CambiarPassword" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label asp-for="Password" class="form-label">Nueva Contraseña</label>
        <input asp-for="Password" type="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
    <a asp-action="ListarUsuarios" class="btn btn-secondary">Cancelar</a>
</form>