@{
    ViewData["Title"] = "CrearUsuario";
}

<div class="text-center">
    
    <h1 class="display-4">Crear Usuario</h1>

@model Kanban.Usuario

<form asp-controller="Usuario" asp-action="CrearUsuario">
  <div class="mb-3">
    <label asp-for=@Model.NombreDeUsuario class="form-label">Nombre de Usuario</label>
    <input asp-for=@Model.NombreDeUsuario type="text" class="form-control">
    <label asp-for=@Model.RolUsuario class="form-label">Rol de Usuario</label>
    <select asp-for=@Model.RolUsuario class="form-select">
        <option value="0">Administrador</option>
        <option value="1">Operador</option>
    </select>
    <label asp-for="Password" class="form-label">Contraseña</label>
    <input asp-for="Password" type="password" class="form-control">

  </div>    
  <button type="submit" class="btn btn-outline-success">Crear</button>
   <a asp-action="ListarUsuarios" class="btn btn-secondary">Cancelar</a>
</form>
</div>